body {
  background-color: #eaeff6;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  transition: background 0.1s linear;
}
body.dark {
  background-color: #0d1117;
}
.bg-dark-theme-light {
  background-color: #24292f;
}
.avatar {
  width: 28.6px;
  height: 28.6px;
}
header {
  margin-bottom: 40px;
  padding: 1rem;
  transition: background 0.1s linear;
}
.panel-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
}
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  padding: 10px;
  gap: 20px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  padding: 5px;
  width: 133px;
  height: 160px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.123);
}
.card:hover {
  border: 1px solid #4b9ae84b;
  transform: scale(1.05);
}
.card:active {
  background: rgb(143, 151, 155);
}
.left-icon {
  align-self: flex-start;
  color: grey;
  padding: 3px;
}
.center-icon {
  align-self: center;
  padding: 10px;
  width: 75%;
  height: 120px;
  font-size: 46px;
  border: 1px solid #d5d9de;
  border-radius: 4px;
  border-width: thin;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-icon {
  align-self: flex-end;
  color: grey;
  padding: 3px;
  transform: rotate(-180deg);
}
.white-shadow {
  box-shadow: 3px 3px 3px rgba(253, 253, 253, 0.123);
}
button {
  cursor: pointer;
}
.panel-players {
  width: 20%;
  margin-right: 30px;
}
.custom-alert {
  position: fixed;
  top: 88vh;
  right: 70px;
  display: none;
  z-index: 1000;
}
.icon-edit {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  cursor: pointer;
}
#btnStartModerating{
  cursor: pointer;
}
.pnButtonsGameController{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.icon-game-control{
  font-size: 22px;
  cursor: pointer;
}
.list-item--user-done{
  font-size: 22px;
}
@media (min-width: 850px) {
  .pnButtonsGameController {
    width: 50%;
    margin-top: 40px;
  }
}
@media (min-width: 1300px) {
  .cards-container {
    width: 80%;
  }
  .pnButtonsGameController {
    width: 30%;
  }
}
@media (min-width: 1400px) {
  .cards-container {
    width: 70%;
  }
  .pnButtonsGameController {
    width: 20%;    
  }
}
@media (max-width: 500px) {
  header {
    margin-bottom: 20px;
    padding: 0.5rem;
  }
  .cards-container {
    width: 100%;
  }
  .btn-text-visibility {
    display: none;
  }
  .card {
    width: 93px;
    height: 115px;
  }
  .center-icon {
    padding: 6px;
    font-size: 33px;
    height: 110px;
  }
  .panel-players {
    width: 100%;
    margin: 10px;
  }
  .panel-cards {
    width: 100%;
  }
  .custom-alert {
    right: 20px;
  }
  .pnBtnReviewEstimates{
    width: 90%;
    margin-top: 0px;  
  }
  .btn-review-estimates{    
    margin-bottom: 30px;
  }
}
