body {
  background-color: #eaeff6; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  transition: background 0.1s linear;
}
body.dark {
  background-color: #232c35
}
.avatar {
  width: 28.6px;
  height: 28.6px;
}
header {
  margin-bottom: 40px;
  padding: 1rem;
  background-color: rgba(51, 51, 51, 1);
  transition: background 0.1s linear;
}
header.dark {
  background-color: #232c35
}
.panel-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
}
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  padding: 10px;
  gap: 20px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  padding: 5px;
  width: 133px;
  height: 160px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.123);
  transition: box-shadow 0.3s ease;
  font-family: Lato, sans-serif;
}
.card:hover {
  border: 2px solid #4b9ae84b;
  background-color: rgba(227, 234, 241, 0.212);
}
.left-icon {
  align-self: flex-start;
  color: grey;
  padding: 3px;
}
.center-icon {
  align-self: center;
  padding: 10px;
  width: 75%;
  height: 120px;
  font-size: 46px;
  color: black;
  border: 1px solid #d5d9de;
  border-radius: 4px;
  border-width: thin;
  margin-left: 16px;
  margin-right: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-icon {
  align-self: flex-end;
  color: grey;
  padding: 3px;
  transform: rotate(-180deg);
}
button {
  cursor: pointer;
}
.panel-players {
  width: 20%;
  margin-right: 30px;
}
.custom-alert {
  position: fixed;
  top: 88vh;
  right: 70px;
  display: none;
  z-index: 1000;
}
.icon-edit{
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
.icon-edit:hover{
  cursor: pointer;
}
@media (min-width: 1300px) {
  .cards-container {
    width: 80%;
  }
}
@media (min-width: 1400px) {
  .cards-container {
    width: 70%;
  }
}
@media (max-width: 500px) {
  header {
    margin-bottom: 20px;
    padding: 0.5rem;
  }
  .cards-container {
    width: 100%;
  }
  .btn-text-visibility{
    display: none;
  }
  .card {
    width: 93px;
    height: 115px;
  }
  .center-icon {
    padding: 6px;
    font-size: 33px;
    height: 110px;
  }
  .panel-players {
    width: 100%;
    margin: 10px;
  }
  .panel-cards {
    width: 100%;
  }
  .custom-alert {    
    right: 20px;
  }
}
